root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.nim]
indent_style = space
indent_size = 2

[*.nimble]
indent_style = space
indent_size = 2

[*.nims]
indent_style = space
indent_size = 2
