name: CFF

on:
  push:
    paths:
      - CITATION.cff

permissions:
  contents: read

jobs:
  validation:
    name: validate
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3.1.0
        with:
          persist-credentials: false

      - name: cffconvert
        uses: citation-file-format/cffconvert-github-action@2.0.0
        with:
          args: --validate
